@font-face {
  font-family: 'TitanOne-Regular';
  src: url('./fonts/TitanOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('./fonts/TitilliumWeb-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('./fonts/TitilliumWeb-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
